$midpoint-offwhite: #F7F7F7;
$midpoint-grey:#909090;
$midpoint-medium-grey: #565658;
$midpoint-dark-grey:#1C1B1F;
$midpoint-black:#110F0F;
$midpoint-primary:#705EB6;
$midpoint-secondary: #FFA800;

.midpoint-grey{
  color: $midpoint-grey;
}
