<h1>Meetups Show Placeholder</h1>

<% @meetup.destinations.each do |destination| %>
  <%= render "destinations/destination_card", destination: destination %>
  <p> <%= link_to "show", destination_path(destination) %>
<% end %>
