.destinations-show{
  margin: 100px auto;

  @media (max-width: 768px) {
    margin: 48px auto;
  }
}

// Node Map

.node-map-midpoint{

  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-around;
  gap: 35px;
  margin-bottom: 100px;

  .flight-info{
    display: flex;
    text-align: center;
  }

  .flight-info > div{
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .cities-container-midpoint{
    display: flex;
    justify-content: space-between;
  }

  .cities-container-midpoint > div{
    width: 33%;
    &:last-child{
      text-align: end;
    }
  }

  .fly-to-city-container{
    text-align: center;
    h1{
      color: $midpoint-primary;
    }
  }

  .arrow-container-midpoint{
    display: flex;
    justify-content: flex-end;
  }

  .arrow-container-midpoint > div{
    width: 50%;
    display: flex;
    justify-content: center;
  }

  .flip-horizontal{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  @media (max-width: 768px) {
    display: none;
  }
}

// Summary Section:
.summary-section-midpoint{
  display: flex;
  width: 85%;
  margin: 0 auto;
  gap: 18px;

  h5{
    color: $midpoint-grey;
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    width: auto;
  }
}

.flight-summary{
  @media (max-width: 768px) {
    order: -1;
  }
}

.summary-section p{
  color: $midpoint-grey;
}

.summary-section-midpoint > div{
  width: 50%;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.summary-img{
  width: 65%;
  margin: 0 auto;
  margin-bottom: 3%;
  display: flex;
  justify-content: center;
  border-radius: 3%;
}

.summary-logo-img{
  width: 1.5em;
  border-radius: 3%;
}

.open-ai-text {
  p {
    margin: 0.8em;
  }
}
