.banner-cities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 640px;
  background-image: asset_url("Blobs.png");
  background-size: cover;
  color: #f7f7f7;
}

.banner-cities img {
  width: 392px;
  height: 68px;
}

.banner-cities-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-cities input:focus {
  outline: 0;
  box-shadow: 0 0 4rem #705eb6;
}


.banner-cities input:hover:active {
  outline: 0;
  box-shadow: 0 0 4rem #705eb6;
}
