@import "home";
@import "destinations_show";
@import "meetups_show";

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  background-color: $midpoint-black;
  height: 200%;
}

html, body {
  max-width: 100vw;
}
