.meetups-show{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap:33px;

  .sticky-container{
    position: sticky;
    top: 140px;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    display: inline;
  }
}

.meetups-show > div{
  width: 50%;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.meetup-sort-buttons{
  @media (max-width: 768px) {
    display: flex;
    justify-content: space-between;
    width: 60%;
    gap: 10px;
  }
}
