.meetups-show{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap:33px;

  .inner-container-1 {
    order: 1;
  }

  .sticky-container{
    position: sticky;
    top: 140px;
    order: 2;
  }

  @media (max-width: 768px) {
    flex-direction: column;

    .inner-container-1 {
      order: 2;
    }

    .sticky-container{
      position: static;
      order: 1;
      .meetups-title {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 16px;
      }
    }
  }
}

.meetups-show > div {
  width: 50%;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.meetup-sort-buttons {
  @media (max-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
