.meetups-show{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap:33px;
  position: relative;
  .sticky-container{
    position: sticky;
    top: 0;
  }
}

.meetups-show > div{
  width: 50%;
}
