<footer class="footer-midpoint">

  <div class="footer-content-midpoint">
    <div class="border-bottom-midpoint">
      <div>
        <%= image_tag "logo.png" %>
        <p>Bringing far away friends closer together</p>
      </div>
      <ul class="footer-links-midpoint">
        <li><a>About</a></li>
        <li><a>Contact</a></li>
        <li><a>Github</a></li>
        <li><a>Terms & Conditions</a></li>
        <li><a>Privacy</a></li>
      </ul>
    </div>
    <div>
      <p>Made with ✨ at Le Wagon</p>
      <ul class="payment-types-footer-midpoint">
        <li><i class="fa-brands fa-cc-visa"></i></li>
        <li><i class="fa-brands fa-cc-mastercard"></i></li>
        <li><i class="fa-brands fa-cc-paypal"></i></li>
        <li><i class="fa-brands fa-cc-apple-pay"></i></li>
      </ul>
    </div>
  </div>
</footer>
