<div class="footer-main-cities">

  <div class="footer-content-cities">
    <div class="border-bottom-cities">
      <div>
      <%= image_tag "logo.png" %>
        <%# <%= image_tag "logos/spaces_logo_horizontal.png" %>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <ul class="footer-links-cities">
        <li>About</li>
        <li>Contact</li>
        <li>Github</li>
        <li>Terms & Conditions</li>
        <li>Privacy</li>
      </ul>
    </div>
    <div>
      <p>Made with ✨ at Le Wagon</p>
      <ul class="payment-types-footer-cities">
        <li><i class="fa-brands fa-cc-visa"></i></li>
        <li><i class="fa-brands fa-cc-mastercard"></i></li>
        <li><i class="fa-brands fa-cc-paypal"></i></li>
        <li><i class="fa-brands fa-cc-apple-pay"></i></li>
      </ul>
    </div>
  </div>
</div>
