<div class="card-midpoint payment-summary-card-midpoint">
  <div class="d-flex justify-content-between">
    <p>Flight 1</p>
    <p>€<%= @destination.price_1 %> </p>
  </div>

  <div class="d-flex justify-content-between">
    <p>Flight 2</p>
    <p>€<%= @destination.price_2 %> </p>
  </div>

  <div class="d-flex justify-content-between">
    <h4>Total</h4>
    <h4>€<%= @destination.total_price %></h4>
  </div>

</div>
