<div class="footer-pages-container">
  <h2> About Us</h2>

  <p>A flight searching platform that helps travelers find the best midpoint
  destinations for meeting up with friends and family.</p>
  <p># Meet In The Middle</p>
</div>
