

<div class="banner-cities">
  <div>
    <%= image_tag "logo.png" %>
    <p class="mb-3">Bringing far away friends closer together</p>
  </div>

  <%= render "meetups/horizontal_form"%>
</div>


<div class="blob-container">
  <div class="blob orange-blob">
    <%= inline_svg_tag "blobs/orange-blob.svg", class: 'blobs/orange-blob.svg' %>
  </div>

  <div class="blob purple-blob">
    <%= inline_svg_tag "blobs/purple-blob.svg", class: 'blobs/purple-blob.svg' %>
  </div>
</div>
