<div class="footer-pages-container">
  <h2>Privacy Policy for Midpoint</h2>
  <p><strong>Last Updated: 19/11/2023</strong></p>

  <p>Welcome to Midpoint! We are committed to protecting your privacy and ensuring you have a positive experience on our website. This Privacy Policy outlines our practices regarding the collection, use, and disclosure of information that you may provide via our site.</p>

  <p><strong>1. Information We Collect</strong><br>
  <strong>Third-Party Data Collection:</strong><br>
  Midpoint itself does not collect any personal data from its users. However, our service involves redirecting users to third-party websites for ticket purchases, where personal information may be requested by these sites. We encourage our users to review the privacy policies of these third-party websites to understand their data collection practices.</p>

  <p><strong>2. Use of Data</strong><br>
  Since Midpoint does not collect personal data, we do not use or share personal information. Any data collection and usage will be under the purview of third-party websites.</p>

  <p><strong>3. Third-Party Websites</strong><br>
  Our website includes links to third-party websites for ticket purchasing and other related services. These external sites have their own privacy policies and data collection practices. Midpoint is not responsible for the actions and privacy policies of these third-party websites.</p>

  <p><strong>4. Cookies and Tracking Technologies</strong><br>
  Midpoint does not use cookies or similar tracking technologies directly. However, third-party services linked from our website may use cookies. Please review their privacy policies for information on their use of cookies.</p>

  <p><strong>5. Children's Privacy</strong><br>
  In compliance with the Children's Online Privacy Protection Act (COPPA), Midpoint does not target children under the age of 13. We do not knowingly collect personal information from children under 13.</p>

  <p><strong>6. Changes to Our Privacy Policy</strong><br>
  We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website.</p>

  <p><strong>7. Contact Us</strong><br>
  If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us at midpoint@midpoint.world.</p>
</div>
