.btn-midpoint{
  height: 52px;
  padding: 16px 54px;
  border-radius: 62px;
}

.btn-secondary-midpoint{
  color: $midpoint-offwhite;
  background-color: $midpoint-primary;
}

.btn-primary-midpoint{
  color: $midpoint-primary;
  background-color: $midpoint-offwhite;
  border: 1px solid $midpoint-primary;
}
