.btn-midpoint{
  height: 52px;
  padding: 16px 54px;
  border-radius: 62px;
}

.btn-primary-midpoint{
  color: $midpoint-offwhite;
  background-color: $midpoint-primary;
  border: none;
}

.btn-secondary-midpoint{
  color: $midpoint-offwhite;
  background-color: $midpoint-offwhite;
}

.btn-navigation-midpoint{
  border: 1px solid $midpoint-offwhite;
  width: 105px;
  padding: 10px 30px;
}
