.btn-midpoint{
  height: 52px;
  padding: 16px 54px;
  border-radius: 62px;
  transition: 100ms;
}

.btn-primary-midpoint{
  color: $midpoint-offwhite;
  background-color: $midpoint-primary;
  border: none;
}

.btn-secondary-midpoint{
  color: $midpoint-black;
  background-color: $midpoint-offwhite;
}

.btn-tertiary-midpoint{
  color: $midpoint-offwhite;
  border: 1px solid $midpoint-offwhite;
}

.btn-small-midpoint{
  padding: 7px 30px;
}


.btn-primary-midpoint:hover {
  filter: brightness(85%);
  border: 1px solid $midpoint-black;
}

.btn-secondary-midpoint:hover {
  filter: brightness(85%);
  border: 1px solid $midpoint-black;
}

.btn-tertiary-midpoint:hover {
  background-color: #ffffff1f;
}
