.card-midpoint{
  border-radius: 16px;
  border: 1px solid $midpoint-grey;
  background: $midpoint-dark-grey;

  padding: 24px;

  transition: 100ms;
}

.card-midpoint:hover{
  filter: brightness(110%);
}

.cards-midpoint-grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

// DESTINATION CARD:

.destination-card-midpoint{
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  img {
    width: 100%;
    height: 189px;
    border-radius: 16px;
    margin-bottom: 20px;
    object-fit: cover
  }
}

.destination-card-midpoint > div {
  // display: flex;
  justify-content: space-between;
  gap: 5px;

  p{
    color: $midpoint-grey;
  }
}

// tags

.tag {
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 5px;
}

.tag-recommended{
  background: $midpoint-secondary;
  color: $midpoint-black;
}

.tag-midpoint{
  background: $midpoint-primary;
}
