body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-midpoint{
  bottom: 0;
  position: relative;
}
.footer-content-midpoint {
  padding: 0px 50px;
  padding-top: 20px;
  color: #f7f7f7;
}

.footer-content-midpoint img {
  width: 170px;
  margin: 10px 0;
}

.footer-content-midpoint p {
  width: 250px;
  margin: 0;
}

.footer-content-midpoint li {
  display: inline;
  list-style: none;
}

.footer-links-midpoint {
  width: 60%;
  display: flex;
  justify-content: space-between;
}


.footer-content-midpoint > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}


.payment-types-footer-midpoint {
  gap: 12px;
}

.payment-types-footer-midpoint li {
  font-size: 35px;
}
