.footer-midpoint{
  position: relative;
  bottom: 0;
  margin-top: 50px;
  ul{
    margin: 0;
    padding: 0;
    li{
      text-decoration: none;
      a {
        color: $midpoint-offwhite;
        text-decoration: none;
        transition: 100ms;
      }
    }
  }

  @media (max-width: 768px) {
    text-align: right
  }
}

.footer-content-midpoint {
  padding: 0px 50px;
  padding-top: 20px;

  @media (max-width: 768px) {
    padding: 20px;
    flex-direction: column;
  }
}

.footer-content-midpoint img {
  width: 170px;
  margin: 10px 0;

  @media (max-width: 768px) {
    width: 160px;
  }
}

.footer-content-midpoint li {
  display: inline;
  list-style: none;
}

.footer-links-midpoint {
  width: 60%;
  display: flex;
  justify-content: space-between;
  a:hover{
    color: $midpoint-grey;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
}

.footer-content-midpoint > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}


.payment-types-footer-midpoint {
  gap: 12px;
}

.payment-types-footer-midpoint li {
  font-size: 35px;
}
