
.horizontal-form-input-fields-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap:40px;
}

.horizontal-form{
  gap:40px;
  .submit-container-centered{
    display: flex;
    justify-content: center;
  }
  i{
    position:absolute;
    left: 20px;
    top: 15px;
  }
  .relative{
    position: relative;
  }

  ul{
    background-color: red;
    list-style-type: none;
    // background-color: #110f0fbc;
    background-color: #F7F7F7;
    border-radius: 10px;
    padding: 0;
    margin:0;
    margin-top: 10px;
    position: absolute;
  }

  li{
    padding: 10px;
    // text-decoration: none;
    color: $midpoint-black;
  }

  .mark, mark {
    color: $midpoint-black;
    padding: 0.1875em;
    // background-color: #705eb644;
    background-color: #ffaa009f;
  }
}
