
.horizontal-form-input-fields-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap:40px;
}

.horizontal-form{
  gap:40px;
  .submit-container-centered{
    display: flex;
    justify-content: center;
  }
  i{
    position:absolute;
    left: 20px;
    top: 15px;
  }
  .relative{
    position: relative;
  }

  ul{
    list-style-type: none;
    background-color: none;
    // border: 1px solid $midpoint-grey;
    // border-radius: 10px;
    padding: 0;
    margin:0;
    margin-top: 10px;
    position: absolute;

    width: 100%;
  }

  li{
    padding: 10px;
    background-color: $midpoint-dark-grey;
    margin: 2px 10px;
    border: 1px solid $midpoint-grey;
    border-radius: 10px;
  }

  li:hover{
    filter: brightness(100%);
    background-color: #26242a;
    cursor: pointer;
  }

  .mark, mark {
    color: $midpoint-secondary;
    padding: 0;
    // background-color: #705eb644;
    // background-color: #ffaa009f;
    background-color: rgba(0, 0, 0, 0)
  }
}
