input, input[type="text"], .search-input-midpoint{
  border: 1px solid $midpoint-offwhite;
  padding: 12px 16px;
  width: 191px;
  background-color: #00000000;
  border-radius: 62px;
  transition: 100ms;
}

.search-input-midpoint i{
  position:absolute;
  left: 20px;
}

input::placeholder {
  color: $midpoint-offwhite;
}

.search-input-midpoint:hover{
  background-color: #ffffff1f;
}


// .search-input-midpoint:active{
//   outline: 0;
//   box-shadow: 0 0 10px #822ef5;
// }
