input, input[type="text"], .search-input-midpoint{
  border: 1px solid $midpoint-offwhite;
  padding: 12px 16px;
  width: 191px;
  background-color: #00000000;
  border-radius: 62px;
}

input::placeholder {
  color: $midpoint-offwhite;
}

// .new_user{
// }

// .search-input-midpoint{

// }
