.input-cities {
  border: 2px solid #f7f7f7;
  color: #f7f7f7;
  padding: 12px 16px;
  width: 191px;
  background-color: #110F0F;
  border-radius: 62px;
  margin-right: 40px;
}

.input-cities input {
  padding-left: 10px;
}

input:hover:active {
  outline: 0;
  box-shadow: 0 0 4rem #705eb6;
}

input:focus {
  outline: 0;
  box-shadow: 0 0 4rem #705eb6;
}

input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #f7f7f7;
  opacity: 1;
  /* Firefox */
}
