.navbar-midpoint{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 128px !important;
  width: 90vw;
  margin: 0 auto;

  img{
    width: 180px;
  }

  .navbar-link {
    color: $midpoint-offwhite;
    text-decoration: none;
    margin-left: 20px;
  }

  form{
    display: flex;
  }

  .relative {
    position: relative;
  }

  i{
    position:absolute;
    left: 20px;
  }
}
