.navbar-midpoint{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 128px !important;
  width: 100%;
  padding: 0 5vw;
  // margin: 0 auto;
  margin-bottom: 40px;


  position: sticky;
  top:0;
  z-index: 1;

  // box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.30), 0px 6px 10px 4px rgba(0, 0, 0, 0.15);

  img{
    width: 180px;
  }

  img:hover{
    filter: brightness(85%);
  }

  .navbar-link {
    color: $midpoint-offwhite;
    text-decoration: none;
    margin-left: 20px;
    transition: 100ms;
  }

  .navbar-link:hover{
    color: $midpoint-grey;
  }

  form{
    display: flex;
  }

  .relative {
    position: relative;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center; // Change this from flex-start to center
    padding: 20px;
    gap: 50px;
    position: relative;
    .navbar-link {
      margin: 10px 0;
    }
  }
}

.background-black-transparent-navbar{
  background-color: #110f0fda;
}
