.navbar-midpoint{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 128px !important;
  width: 100%;
  padding: 0 5vw;
  margin: 0 auto;


  position: sticky;
  top:0;
  z-index: 1;

  // box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.30), 0px 6px 10px 4px rgba(0, 0, 0, 0.15);

  img{
    width: 180px;
  }

  .navbar-link {
    color: $midpoint-offwhite;
    text-decoration: none;
    margin-left: 20px;
  }

  form{
    display: flex;
  }

  .relative {
    position: relative;
  }

  i{
    position:absolute;
    left: 20px;
  }
}

.background-black-transparent-navbar{
  background-color: #110f0fbc;
}
